<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Goals</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="dashboard-container">

<div class="sidebar">

<h2>QuitWise</h2>

<ul>

<li><a href="/dashboard">Dashboard</a></li>

<li><a href="/history">History</a></li>

<li><a href="/analytics">Analytics</a></li>

<li><a href="/goals">Goals</a></li>

<li><a href="/profile">Profile</a></li>

<li><a href="/logout">Logout</a></li>

</ul>

</div>

<div class="main-content">

<h1>Health Goals</h1>

<div class="goal-container">

<div class="goal-card">

<h3>🚭 Smoking Reduction</h3>

<div class="progress-bar">

<div class="progress-fill smoke">
70%
</div>

</div>

<p>Goal: Reduce smoking weekly</p>

</div>

<div class="goal-card">

<h3>🍷 Alcohol Control</h3>

<div class="progress-bar">

<div class="progress-fill alcohol">
55%
</div>

</div>

<p>Goal: Reduce alcohol gradually</p>

</div>

<div class="goal-card">

<h3>😴 Sleep Improvement</h3>

<div class="progress-bar">

<div class="progress-fill sleep">
85%
</div>

</div>

<p>Goal: Maintain 8 hours sleep</p>

</div>

<div class="goal-card">

<h3>💪 Exercise Consistency</h3>

<div class="progress-bar">

<div class="progress-fill exercise">
65%
</div>

</div>

<p>Goal: Exercise daily</p>

</div>

</div>

</div>

</div>

</body>

</html>